.scrollContainer {
	position: fixed;
	bottom: 0;
	right: 0;
	border: 1px solid black;
	background-color: white;
	z-index: 1;
}

.scrollPercentage {
	font-family: var(--main-font-family);
	font-size: 2rem;
}

.scrollButton {
	font-family: var(--main-font-family);
	font-weight: 600;
	font-size: 2rem;
	width: 100%;
}
