.doubleColumn {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-bottom: 2px solid black;
}

.singleColumn {
	display: grid;
	grid-template-columns: 1fr;
	border-bottom: 2px solid black;
}

.leftElement,
.rightElement {
	height: 100vh;
}
