.TextBoxText {
	border: 5px solid black;
	box-shadow: var(--drop-shadow);
	width: fit-content;
	height: fit-content;
	margin: 3rem;
	padding: 2rem 3rem 2rem 3rem;
	font-family: var(--main-font-family);
	font-weight: 400;
	font-size: 2rem;
	background-color: white;
}
