.TextBoxText {
	border: 5px solid black;
	box-shadow: var(--drop-shadow);
	width: fit-content;
	height: fit-content;
	margin: 50px;
	padding: 20px;
	font-family: var(--main-font-family);
	font-weight: 400;
	font-size: 2em;
}
