.likertContainer {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	padding: 1rem;
	margin: 2rem;
	width: 90vw;
	box-sizing: content-box;
	background-color: white;
	border: var(--thick-border);
	box-shadow: var(--drop-shadow);
}

.questionText {
	margin: var(--default-margin);
	font-family: var(--main-font-family);
	font-weight: 700;
	font-size: 1.75rem;
}

.optionsContainer {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 1rem;
}

.option {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: var(--main-font-family);
	font-size: 1.5rem;
	opacity: 0.9;
	text-align: center;
	margin: 0 0.5rem 0 0.5rem;
}

.option input {
	height: 2.5rem;
	width: 2.5rem;
}
